@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #292423;
  --foreground: #fdf6ec;
}

body {
  color: var(--foreground);
  background: var(--background);
}
@theme {
  --font-lato: "Lato", "sans-serif";
  --font-caveat: "Caveat", "cursive";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-pink: #a4144e;
  --color-brand-orange: #f05913;
  --color-brand-navyBlue: #000167;
  --color-brand-blue: #21daed;
  --color-brand-red: #da0f17;
  --color-brand-yellow: #fcc931;
  --color-brand-green: #1f9c74;
  --color-brand-white: #fdf6ec;
  --color-brand-black: #292423;
  --color-brand-brown: #574c42;
}
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
